<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% block head %}
  <title>Test shortener</title>
    <style>
        .main {
            text-align: center;
        }
        table {
            border: 1px solid;
            margin: auto;
        }
        .errorlist {
            color: red;
        }
    </style>
  {% endblock %}
</head>
<body>
<div class="main">
<h1>Test shortener</h1>
    <form method="POST">
        {% csrf_token %}
    {{ form.as_p }}
        <input type="submit" value="Shorten!">
    </form><br>
    {% if directions %}
        <table border="1">
            <tr>
                <td><b>Target URL</b></td>
                <td><b>Short URL</b></td>
            </tr>
            {% for user_record in directions %}
                <tr>
                    <td><a href="{{ user_record.direction__target }}">{{ user_record.direction__target }}</a></td>
                    <td><a href="{{ user_record.direction__subpart }}">{{ request.get_host }}/{{ user_record.direction__subpart }}</a></td>
                </tr>
            {% endfor %}
        </table><br>
        {% if directions.paginator.num_pages > 1 %}
            {% if directions.has_previous %}
                <a href="?page={{ directions.previous_page_number }}">Previous</a>
            {% else %}
                <a href="#">Previous</a>
            {% endif %}
            {% if directions.has_previous %}
                    <a href="?page={{ directions.previous_page_number }}">{{ directions.previous_page_number}}</a>
            {% endif %}
            <a href="#">{{ directions.number }}</a>
            {% if directions.has_next %}
                    <a href="?page={{ directions.next_page_number }}">{{ directions.next_page_number}}</a>
            {% endif %}
            {% if directions.has_next %}
                <a href="?page={{ directions.next_page_number }}">Next</a>
            {% else %}
                <a href="#">Next</a>
            {% endif %}
        {% endif %}
    {% endif %}
</div>
</body>
</html>